@font-face {
   font-family: BebasNeue;
   src: url('../fonts/BebasNeue Bold.otf') format("opentype");
}


/*Уменьшаем расстояние между строками*/
body {
    line-height: 20px;
     font-family: BebasNeue;
     color:#ffffff;
}
/* убираем отступы в абзацах */
p {
    margin:0;
}
/* цвет ссылок */
a{
    color: #dddd19;
    font-size: 18;
}

/* Убираем нижние подчёркивания у ссылок*/
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
table a.menuLink:not(.btn) {
    text-decoration: none;
}

/* для кнопок делаем удобное позиционирование вряд */
.buttons {
    margin: 0;
    padding: 0;
}
.buttons li {
    display: inline-block;
    padding-right: 4px;
    font-weight: bold;
}


/* Форма входа/регистрации */
.form-signin {
    max-width: 330px;
    padding: 15px;
    padding-top: 200px;
    margin: 0 auto;
}

/* голосование */
.fa-chevron-up{
  color: #dddd19;
}
.fa-chevron-up:hover {
    color: orangered;
    cursor: pointer;
}
.fa-chevron-down{
  color: #dddd19;
}
.upvoted{
    color: orangered;
}
.downvoted{
    color: #5f99cf;
}
.fa-chevron-down:hover {
    color: #5f99cf;
    cursor: pointer;
}

/* число с рейтингом */
.score {
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* блок голосования */
.vote {
  position:relative;
  top: -20px;
    width:50px;
    font-size:14pt;
    text-align:center;
}

/* заголовок поста */
.thread-title{
    font-size: 40px;
    color: #ffffff;
}


/* место для голосования за комментарий */
.comment-votes{
    width: 20px;
}

/* отображение аватара */
.img-responsive{
    display: inline;
}
/* отображение текста для чтения */
.readableText{
  color: #ffffff;
  font-size: 18;
  opacity:1;
  line-height: 1.6em;
  text-align:justify;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* подложка для текста */
.textBackground{
  background: rgba(59, 96,  110,0.2);
  position:relative;
}
/* заголовок списка креатива */
.creativeListHeader{
   height:100px;
   padding-top:40px;
   padding-bottom:60px;
}
/* картинка добаления поста */
.addPostImg{
 position:relative;
 top:-15px;
 width:40px;
 height:40px;
}

/* стиль заголовка в странице-списке */
.creativeListTitle{
  font-size:60;
}


/* картинка редактирования поста */
.editCreativeImg{
  width:30px;
  height:30px;
  position:relative;
  left:5px;
  top:-10px;
}

/* кнопка удаления поста */
.removeThreadBtn{
  position:relative;
  left:10px;
  top:-8px;
}

/* пост в списке */
.creativePost{
 padding-bottom:60px;
}

/* дата публикации */
.postDate{
  font-size:30;
}

/* дата публикации для боевого креатива */
.powerDate{
  color: #dddd19;
}

/* username в списке */
.postListUserName{
 position:relative;
 left:15px;
 font-size:25;
}

/* вознаграждение в списке */
.postListRegard{
 position:relative;
 left:70px;
 font-size:25;
}

a.pagemenuLink {
  color: #ffffff;
  font-size:50;
  text-align:left;
  padding: 6px;
}

a.active.pagemenuLink{
  color: #dddd19;
}

a.pagemenuLink:hover{
  color: #4444CC;
}


.captionTextRight{
  top: 1.37em;
  font-family: BebasNeue;
  font-size: 55;
  text-align:right;
  color: #dddd19;
  height: 100px;
}

.paddedPageMenu{
  top: -0.4em;
  font-family: BebasNeue;
  font-size: 55;
  text-align:right;
  color: #ffffff;
}

.menuPageCaption{
  top: 2.1em;
  font-family: BebasNeue;
  font-size: 65;
  text-align:left;
  color: #dddd19;
}


.avatarProfileBig{
  position: absolute;
   top: 2.2em;
   left : 5em;

}



.profileRightMenu{
  position: absolute;
  top: 9em;
  right: 1em;
  text-align : right;
}

.profileRightSocialMenu{
  position: absolute;
  top: 2.5em;
  right: 1.6em;
  text-align : right;
  z-index: 0;
}

.profileRightMenuText{
  font-size: 45;
  position: absolute;
  right: -0.3em;
  top: 1.5em;
}

.karmaProfile{
  position:relative;
  top:5em;
  right:-1.5em;
}

.portfolioKarma{
  position: relative;
  top: -4.2em;
  right:4em;
  font-size: 20;
}

.creativeKarma{
position: relative;
  font-size: 35;
  top: -2.5em;
  right:0.55em;
}

.descriptionProfile{
  color: #b9e1da;
  opacity: 0.1;
  line-height: 75px;
}



/**
  Hamburger
**/

.hamburger {
  position: fixed;
  top: 4em;
  right: 4em;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: #dddd19;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

/**
Nav Styles
**/


.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  width:100%;
}
nav {
  text-align: left;
  width:100%;
  height:100%;
}
.nav-link{
  font-family: BebasNeue;
  position: absolute;
  /*text-decoration: none;*/
  color: #bfbf97;
  text-align: left;
}
.nav-link:hover {
  color: #c9df27;

}
.nav-link:hover:before {
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}


a.menuLink {
  color: #dddd19;
}
a.active.menuLink{
  color: #b9cf17;
}

.menu_back{
    background: #000000; /* Цвет фона */
    opacity: 0.7; /* Полупрозрачный фон */
}

.container.menu_container {
    display:table;
    width: 100%;
    height:100%;
    padding: 0 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row-full-height {
    height: 100%;
}

.full-width{
  width:100%;
}




#toggle {
  display: none;
}


.faqLink{
   position: absolute;
      font-size: 100;
       bottom: 0.8em;
      left:1.4em;
      color: #feed00;
}



.paddedListPageMenu{
  top: -0.4em;
  font-family: BebasNeue;
  font-size: 55;
  text-align:right;
  color: #ffffff;
}

.media-left{
  position: relative;
  top: 20px;
}


#about_me.form-control{
   overflow-x: hidden;
}

.img-circle{
 border-radius: 0%;
}


.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  background-size:cover;
  z-index: 4;
}


    .signinLink{
       color: #3b606e;
      top: 0.9em;
      left: 25em;
      font-size: 55;
    }

    .profileLink{
      color: #3b606e;
      top: 0.87em;
      right: 1.7em;
      font-size: 55;
    }

    .creativeLink{
      position: absolute;
      font-size: 128;
      left: 1.05em;
      top: 0.2em;
      color: #feed00;
    }
    .challengeLink{
      font-size: 100;
      bottom: 2em;
      right:0.5em;
      color: #feed00;
      position: absolute;
        bottom: 2;
    }

    .shameLink{
        position: absolute;
      font-size: 60;
      color: #646414;
       bottom: 0.8em;
      left:1.4em;
    }

     .creativeDesignLink{
      font-size: 55;
       left: 9.4em;
       top: 2.8em;
        color: #010202;
    }
      .creativeConceptionLink{
      font-size: 55;
       left: 13.4em;
       top: 3.6em;
         color: #010202;
    }

    .creativeStoryLink{
      font-size: 55;
       left: 9.2em;
       top: 7.9em;
       color: #010202;
    }

      .creativeInventionLink{
      font-size: 55;
       left: -1.05em;
       top: -4.1em;
    }

      .creativeMusicLink{
       font-size: 55;
        left: 12.4em;
       top: 11.2em;
    }

      .creativeVideoLink{
      font-size: 28;
      left: 7.3em;
       top: -7.55em;
    }

.makeChallengeLink{
      left:-1.2em;
      top: -12em;
    }

    .makeChallengeLink1{
     font-size: 47;
    }

 .makeChallengeLink2{
      font-size: 60;
      top:20em;
    }


.takeChallengeLink{
      left:9.13em;
      top: -17.85em;
    }

    .takeChallengeLink1{
     font-size: 47;
    }

 .takeChallengeLink2{
      font-size: 60;
      top:20em;
    }


