<!-- Таблица стилей CSS -->
{% load staticfiles %}
{% load static %}

<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   <title>{% block title %}Social Creative{% endblock %}</title>
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  {#  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">#}
  <link rel="stylesheet" href="{% static 'custom_css/sc.css' %}">
  <link rel="stylesheet" media="all and (orientation:portrait)" href="{% static 'custom_css/portrait.css'%}">
  <link rel="stylesheet" media="all and (orientation:landscape)" href="{% static 'custom_css/landscape.css'%}">

  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
   {% block link_block %}

  {% endblock %}

  <style>


    {% block style_block %}


    {%endblock %}
    <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  {% block script %}

{%endblock %}

  </style>

</head>
<body>

<input id="toggle" type="checkbox"/>

<label for="toggle" class="hamburger">
  <div class="top-bun"></div>
  <div class="meat"></div>
  <div class="bottom-bun"></div>
</label>

<div class="nav">
  <div class="nav-wrapper">
    <nav class="menuBackgroung" style="opacity: {% if flgMainPage %} 0 {%else%} 0.9 {%endif%});">
    <div class="container menu_container">
      <div class="row">
        <div class="col-12" >

          <a align="left" class="nav-link creativeLink " href="\creative\">Креатив</a>
 {% if user.is_authenticated %}
          <a align="left" class="nav-link profileLink " href="\user\{{user.username}}\">Профиль</a>
                  {% else %}
                  <a align="left" class="nav-link profileLink " href="\signin\">Войти</a>
                  {% endif %}


        </div>
      </div>

        <a align="left" class="nav-link challengeLink" href="\power\creative\">Боевой креатив</a><br>
        <a class="nav-link faqLink" href="\faq\">О Проекте</a><br>
    </div>
    </nav>
  </div>
</div>


{% block content %}

{% endblock %}


{% block footer %}

{% endblock %}

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/sc.js' %} "></script>

<script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Вы уверены?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
</script>

  {% block footer_script %}

{%endblock %}

</body>
</html>
