{% extends 'base_new.html' %}
{% load humanize %}


{% load staticfiles %}

{% load static %}

{% block style_block %}

body {
    height: 100%;
    margin:0px;
    background: url({%static 'img/fon.png'%}) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

{%endblock %}



{% block content %}
  <div class="row " style="width:100%; line-height: 25px;"  >
    <div class="col-2 paddedPageMenu">
      {%block menu %}
        <div class="paddedPageMenuHeader" align="left">
          <a href = {{titleLink}} class="pageMenuLink {% if ctVal %}{%else%} active{%endif%}"> {{titleText}}</a><br>
        </div>
        <div class="paddedPageMenuBody">
          {% for c in cts %}
            <div  align="left"><a class="pageMenuLink
              {% if ctVal %}
                {% ifequal ctVal.name c.name%} active {% endifequal %}
              {%endif%}" href="{{prefix}}{{c.link}}">{{c.name}}</a>
            </div>
            <br>
          {% endfor %}
        </div>
      {%endblock%}
    </div>
    <div class="col-8 offset-3">
      <div class="container defaultContainer">
        {%block page_content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}




