{% extends 'public/default_page.html' %}
{% load staticfiles %}
{% load static %}


{% block content %}
  <div class="container centered">
    <div class="panel panel-default" valign="center" >
      <div align="center" class="panel-body">
        <form class="form-signin" method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.GET.next }}"/>

          <h1 class="form-signin-heading bebasWhiteText">Вход</h1>
          <label for="inputUsername" class="sr-only">Логин</label>
          <div class="padded10">
          <input  type="text" name="username" id="inputUsername" class="form-control has-error" placeholder="Логин"
                  required autofocus>
            </div>
          <label for="inputPassword" class="sr-only">Пароль</label>
           <div class="padded10">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
           </div>
          {% if login_error %}
            <p class="text-danger">{{ login_error }}</p>
          {% endif %}
           <div class="padded10">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
           </div>
        </form>
      </div>
    </div>    <!-- /container -->
  </div>
  <div class="row" style="width:100%">
      <div class="offset-3 col-6">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
  </div>
{% endblock %}
