{% extends 'public/default_page.html' %}

{% load staticfiles %}
{% load humanize %}

{% load static %}



{%block page_content %}
    <div class="row ">
      <div class="offset-5 col-6 profileTitle" >
        {% if canEdit %}
          <a  href="/profile/edit/">
            <img class="editProfileImg" src="{% static 'img/editProfile.png'%}" title="Редактировать">
          </a>
        {% endif %}
        <a class="profileCaption" id="editProfile" title="Нажмите для выхода">
            {% if profile.first_name %}
              {{ profile.first_name }}
            {%else %}
                {{profile.user.username }}
            {% endif %}
            {% if profile.last_name %}{{ profile.last_name }} {% endif %}
        </a>
      </div>
    </div>
    <div class="row profileBody" >
      <div class="col-5">
            <figure>
              {% if profile.display_picture %}
                <img src="http://www.gravatar.com/avatar/{{ profile.gravatar_hash }}?s=250&d=mm"
                                         alt="" class="img-circle img-responsive">
              {% else %}
                <img src="http://www.gravatar.com/avatar/?s=250&d=mm"
                                         alt="" class="img-circle img-responsive">
              {% endif %}
            </figure>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-1 offset-6" >
            <a class="socialImg {% if not profile.instagram %}not-active {%endif%}" href="{{profile.instagram}}" >
              <img class="socialImg" title="Instagram" src="{%static 'img/insta1.png' %}">
            </a>
          </div>
          <div class="col-1">
            <a class="socialImg {% if not profile.fb %}not-active {%endif%}" href="{{profile.fb}}">
              <img  class="socialImg" title="FaceBook" src="{%static 'img/fb1.png' %}">
            </a>
          </div>
          <div class="col-1">
            <a class="socialImg {% if not profile.vk %}not-active {%endif%}" href="{{profile.vk}}">
              <img  class="socialImg"  title="VK" src="{%static 'img/vk1.png' %}">
            </a>
          </div>
          <div class="col-1">
            <a class="socialImg {% if not profile.telegram %}not-active {%endif%}" href="{{profile.telegram}}">
              <img class="socialImg"   title="Telegram" src="{%static 'img/teleg1.png' %}">
            </a>
          </div>
          <div class="col-1">
            <a class="socialImg  {% if not profile.email %}not-active {%endif%}" href="{{profile.email}}">
              <img class="socialImg"   title="E-mail"  src="{%static 'img/mail1.png' %}">
            </a>
          </div>
          <div class="col-1">
            <a class="socialImg {% if not profile.youtube %}not-active {%endif%}" href="{{profile.youtube}}">
              <img  class="socialImg"  title="Youtube" src="{%static 'img/yt1.png' %}">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12" align="right">
            <div class="profileRightMenuText">
              <div> {{date}}</div><br>
              <div> Карма </div>
            </div>
          </div>
        </div>
        <div class="row">
           <div class="col-12" align="right">
            <div class="karmaBlock">
              <img class="karmaImg" src="{%static 'img/karma.png'%}"><br>
              <div class="creativeKarmaVal">
                <div class="creativeKarma" style="color:#{{creative_karma_color}};">{{creative_karma_val}}</div>
              </div>
              <div class="powerKarmaVal">
                <div class="powerKarma" style="color:#{{power_karma_color}};">{{power_karma_val}}</div>
              </div>
            </div>
           </div>
        </div>
      </div>
    </div>

    {% if profile.about_html %}
      <div class="row">
        <div class="col-11 textBackground" >
          <div class="profileDescription" >
               {{ profile.about_html|safe }}
            </div>
        </div>
      </div>
    {% endif %}



{% endblock %}


{% block footer %}
 <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Перейти или скопировать?</h4>
          </div>
          <div class="modal-body">
            <p>Вы нажали на ссылку для перехода на другой ресурс по адресу:</p>
            <p> <a id="modalAddress"></a></p>
          </div>
          <div class="modal-footer">
            <a href="" class="btn btn-default goLink" >Перейти</a>
            <a href="" class="btn btn-default copyLink">Скопировать</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Для вывода текста на модальное окно -->
    <textarea id="TmpTextarea" style="position:absolute;  top:-100px"></textarea>

{% endblock %}



{% block footer_script %}
  <script src="{% static 'js/profile.js' %} "></script>
{%endblock %}


