{% extends 'public/default_page.html' %}

{% load staticfiles %}
{% load humanize %}

{% load static %}

{% block content %}
    <div class="container full-width full-height" >
      <div class="row ">
        <div class="offset-2 col-8 captionTextRight" >
          <a href="/profile/edit/">
            <img src="{% static 'img/editProfile.png'%}" title="Редактировать" width="40px" height="40px">
          </a>
          <a class="pagemenuLink active profileNameLink" title="Нажмите для выхода">

            {% if profile.first_name %}{{ profile.first_name }}

            {%else %}
                {{profile.user.username }}
            {% endif %}
            {% if profile.last_name %}{{ profile.last_name }} {% endif %}
          </a>
        </div>
      </div>

        <div class="row " >
            <div class="col-2 paddedPageMenu">
                <div align="left"><a class="pageMenuLink" href="/user/{{ profile.user.username }}/creative/">Креатив</a></div><br><br>
                <div align="left"><a class="pageMenuLink" href="/user/{{ profile.user.username }}/video/">Видео</a></div><br>
                <div align="left"><a class="pageMenuLink" href="/user/{{ profile.user.username }}/design/"> Дизайн</a></div><br>
                <div align="left"><a class="pageMenuLink" href="/user/{{ profile.user.username }}/conception/">Концепция</a></div><br>
                <div align="left"><a class="pageMenuLink" href="/user/{{ profile.user.username }}/story/">Сюжет</a></div><br>
                <div align="left"><a class="pageMenuLink" href="/user/{{ profile.user.username }}/music/">Музыка</a></div><br>
                <div align="left"><a class="pageMenuLink" href="/user/{{ profile.user.username }}/invention/">Изобретения</a></div><br>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-6 avatarProfileBig">
                      <figure>
                                {% if profile.display_picture %}
                                    <img src="http://www.gravatar.com/avatar/{{ profile.gravatar_hash }}?s=250&d=mm"
                                         alt="" class="img-circle img-responsive">
                                {% else %}
                                    <img src="http://www.gravatar.com/avatar/?s=250&d=mm"
                                         alt="" class="img-circle img-responsive">
                                {% endif %}
                          </figure>
                      </div>
                    <div class="col-6 profileRightSocialMenu">
                      <div class="row socialLinks">
                        <div class="col-1 offset-6" ><a class="socialImg" href="{{profile.instagram}}" ><img title=" Instagram" width="40px" height="50px" src="{%static 'img/insta1.png' %}"></a></div>
                          <div class="col-1"><a class="socialImg" href="{{profile.fb}}"><img  title="FaceBook" width="40px" height="50px" src="{%static 'img/fb1.png' %}"></a></div>
                          <div class="col-1"><a class="socialImg" href="{{profile.vk}}"><img  title="VK" width="40px" height="50px" src="{%static 'img/vk1.png' %}"></a></div>
                          <div class="col-1" ><a class="socialImg" href="{{profile.telegram}}"><img  title="Telegram"  width="40px" height="50px" src="{%static 'img/teleg1.png' %}"></a></div>
                          <div class="col-1"><a class="socialImg" href="{{profile.email}}"><img   title="E-mail" width="40px" height="50px" src="{%static 'img/mail1.png' %}"></a></div>
                          <div class="col-1"><a class="socialImg" href="{{profile.youtube}}"><img   title="Youtube" width="40px" height="50px" src="{%static 'img/yt1.png' %}"></a></div>
                      </div><br>
                      <div class="profileRightMenuText">
                        <div class="bebasWhiteText"> {{date}}</div><br>
                        <div class="bebasYellowText"> Карма </div>
                      </div>
                      <div class="karmaProfile">
                          <img width="120px" height="110px" src="{%static 'img/karma.png'%}"><br>
                          <div class="portfolioKarma bebasText" style="color:#{{portfolio_karma_color}};">{{portfolio_karma_val}}</div><br>
                          <div class="creativeKarma bebasText" style="color:#{{creative_karma_color}};">{{creative_karma_val}}</div>
                      </div>

                    </div>
                </div>

				    </div>
        </div>
           {% if profile.about_html %}
      <div class="row">
        <div class="offset-4 col-5 bebasWhiteText"   style="background: rgba(59, 96,  110,0.2); position:relative; top: -4em; text-align:center;" >
          <div style="opacity:1;line-height: 1.6em; font-size:40">
               {{ profile.about_html|safe }}
            </div>
        </div>
      </div>
           {% endif %}
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Перейти или скопировать?</h4>
        </div>
        <div class="modal-body">
          <p>Вы нажали на ссылку для перехода на другой ресурс</p>
          <p> Адрес: <a id="modalAddress"></a></p>
        </div>
        <div class="modal-footer">
          <a href="" class="btn btn-default goLink" >Перейти</a>
            <a href=""  class="btn btn-default copyLink">Скопировать</a>
        </div>
      </div>

    </div>
  </div>

 <textarea id="TmpTextarea" style="position:absolute;  top:-50px">Hello I'm some text</textarea>

{% endblock %}

{% block footer_script %}
<script>
 $('a.profileNameLink').click(function (e) {
    if ( $(this).text() != "Выйти"){
      e.preventDefault();
    }
    $(this).text("Выйти");
    $(this).attr('href', '/logout/');
});

$('a.socialImg').click(function (e) {
    //if ( $(this).text() != "Выйти"){
     e.preventDefault();
     $("#modalAddress").text($(this).attr('href'));
     $("#modalAddress").attr('href',$(this).attr('href'));
     $(".goLink").attr('href',$(this).attr('href'));
     $(".copyLink").attr('href',$(this).attr('href'));
     $("#myModal").modal();
   // }
   // $(this).text("Выйти");
   // $(this).attr('href', '/logout/');
});

 $('.copyLink').click(function (e) {
    e.preventDefault();
    $('#TmpTextarea').text($(this).attr('href'));
    $('#TmpTextarea').select();

    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'successful' : 'unsuccessful';
      console.log('Copying text command was ' + msg);
    }   catch (err) {
      console.log('Oops, unable to copy');
    }

});

  </script>

{%endblock %}



