{% extends 'public/default_page.html' %}



{% block content %}
<div class="info-container" style="width:100%; height:100%;" >
    <form class="form-signin" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <h1 align="center" class="form-signin-heading bebasWhiteText">Регистрация</h1>

        {% for field in form %}
      <div style="padding-bottom:5px">
            {{ field }}
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>

            {% endfor %}
        </div>
        {% endfor %}

        {% if username_exists %}
            <p class="text-danger">Пользователь уже существует</p>
        {% endif %}


        <button style="padding-top:10px" class="btn btn-lg btn-primary btn-block" type="submit" {% if user.is_authenticated %}disabled{% endif %}>Зарегистрироваться</button>
         <div align="center" style="padding:15px">
            <h4 class="bebasWhiteText">Уже есть аккаунт <a href="{% url 'login' %}" class="bebasYellowText">Войдите</a></h4>
           </div>
    </form>
  </div>
{% endblock %}
