{% extends 'public/default_page.html' %}

{% load staticfiles %}
{% load static %}


{% block content %}
<div class="container" style="width=100%">
    <form class="form-horizontal" id="editPostForm" action="" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <h1 class="submitHeader" align="center">{{caption}}</h1>
            <div class="row padded10">
              <label for="title" align="right" class="col-2 control-label regularField" >Заголовок</label>
              <div class="col-9" align="left">
                {{ form.title }}
                {% for error in form.title.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="row padded10">
              <label for="url" align="right" class="col-2 control-label regularField">Ссылка</label>
              <div class="col-9" align="left">
                {{ form.url }}
                {% for error in form.url.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="row padded10">
              <label for="text" align="right" class="col-2 control-label submitTextField" >Текст</label>
              <div class="col-4" align="left">
                    <div class="row">
                      <div class="offset-9 col-2">
                        <div align="right" id="addSmiles" title="Смайлы" class="addSmilesTree"></div>
                        {% include '__layout/smile_panel.html' with target_id='cePost'  %}
                      </div>

                    </div>
                    <div class="ceFieldWrapper" style="height:200px;">
                        <div contentEditable="true" class="ceField" id="cePost" >

                        </div>
                    </div>
                    <div style="width:100%; display: none;" >
                        {{ form.text }}
                    </div>
              </div>
              <div class="col-4" align="left">
                <div class="row">
                  <label for="ctp" align="center" class="col-5 control-label submitTextField">Раздел</label>
                  <label for="image" align="center" class="col-7 control-label submitTextField">Картинка</label>
                </div>
                <div class="row submitCategory">
                  <div class=" col-5">
                    {{ form.ctp }}
                    {% for error in form.ctp.errors %}
                      <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                  </div>
                  <div class=" col-7 imageFieldWrapper submitImage">
                      {{form.image}}
                      </div>
                </div>
              </div>
            </div>
            {% if flgPower %}
              <div class="row padded10">
                <label for="regard" align="right" class="offset-1 col-2 control-label powerRegularField">Премия</label>
                <div class="col-2" align="left">
                  {{ form.regard }}
                  {% for error in form.regard.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </div>
                <label for="stoDate" align="right" class="col-2 control-label powerRegularField">Дедлайн</label>
                <div class="col-2" align="left">
                  {{ form.stoDate }}
                  {% for error in form.stoDate.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
            {%endif%}
            <div class="row padded10">
              <div class="col-12"  align="center">
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </div>
            <input type="checkbox" id="formChecked" style="opacity:0;">
        </fieldset>
    </form>
    <div class="row">
      <div class="offset-3 col-6">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    </div>
</div>

<div class="tmpDiv">

</div>

{% endblock %}



