{% extends 'public/default_page.html' %}

{% block content %}
<div class="container" style="width=100%">
    <form class="form-horizontal" action="" method="post"  style="width=100%">
        {% csrf_token %}
        <fieldset>
            <h1 style="padding-top:140px;" class="bebasWhiteText" align="center">{{caption}}</h1>

            <div class="row" style="padding:10px;">
                       <label for="title" align="right" class="col-2 control-label bebasWhiteText" style="position:relative; top:10px; font-size:30;">Заголовок</label>

                        <div class="col-9" align="left"  style="opacity:0.7">
                            {{ form.title }}
                            {% for error in form.first_name.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
            </div>

            <div class="row" style="padding:10px;">
                       <label for="url" align="right" class="col-2 control-label bebasWhiteText" style="position:relative; top:10px; font-size:30;">Ссылка</label>

                        <div class="col-9" align="left"  style="opacity:0.7">
                            {{ form.url }}
                            {% for error in form.first_name.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
            </div>


            <div class="row" style="padding:10px;">
                       <label for="text" align="right" class="col-2 control-label bebasWhiteText" style="position:relative; top:25px; font-size:30;">Текст</label>

                        <div class="col-6" align="left"  style="opacity:0.7">
                            {{ form.text }}
                            {% for error in form.first_name.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                       <label for="ctp" align="right" class="col-1 control-label bebasWhiteText" style="position:relative; top:25px; font-size:30;">Раздел</label>

                        <div class="col-2" align="left"  style="opacity:0.7">
                            {{ form.ctp }}
                            {% for error in form.first_name.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
            </div>


            <div class="row" style="padding:10px;">
                <div class="col-12"  align="center">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
</div>
            </div>

        </fieldset>
    </form>
</div>
{% endblock %}
