{% extends 'public/default_page.html' %}

{% block content %}
<br><br>
<div class="row" style="width:100%;">
  <div class="col-10 offset-1">
    <form class="form-horizontal" id="editProfileForm" action="/profile/edit/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <h2 class="editProfileTitle" align="center">Редактирование профиля</h2>
      <br>

      <div class="form-group">

        <div class="row padded5">
          <label for="first_name" align="right" class="col-1 control-label bebasWhiteText" style="position:relative; top:10px; font-size:30;">Имя</label>
          <div class="col-2" align="left">
            {{ form.first_name }}
            {% for error in form.first_name.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
          <label align="right" for="last_name" class="col-2 control-label bebasWhiteText"  style="position:relative; top:10px; font-size:30;">Фамилия</label>
          <div class="col-2" align="left" >
            {{ form.last_name }}
            {% for error in form.last_name.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
          <label align="right" for="email" class="col-1 control-label bebasWhiteText"  style="position:relative; top:10px; font-size:30;">Email</label>
          <div class="col-3"  >
            {{ form.email }}
            {% for error in form.email.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="row padded10" >
          <div class="col-6">
            <div class="row padded10">
              <label for="tel" class="control-label bebasWhiteText col-3 editSocialField" >Телефон</label>
              <div class="input-group col-8" >
                  {{ form.tel }} <br>
                  {% for error in form.tel.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
              </div>
            </div>
            <div class="row padded10">
              <label for="instagram" class="control-label bebasWhiteText col-3 editSocialField" >Instagram</label>
              <div class="input-group col-8" >
                  {{ form.instagram }}<br>
                  {% for error in form.instagram.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
              </div>
            </div>
            <div class="row padded10" >
              <label for="fb" class="control-label col-3 editSocialField">FaceBook</label>
              <div class="input-group col-8">
                  {{ form.fb }}<br>
                  {% for error in form.fb.errors %}
                 <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="row padded10" >
              <label for="vk" class="control-label col-3 editSocialField">VK</label>
              <div class="input-group col-8" >
                {{ form.vk }}<br>
                {% for error in form.vk.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="row padded10">
              <label for="telegram" class="control-label col-3 editSocialField" >Telegram</label>
              <div class="input-group col-8" >
                {{ form.telegram }}<br>
                {% for error in form.telegram.errors %}
                 <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="row padded10">
              <label for="youtube" class="control-label bebasWhiteText col-3 editSocialField">YouTube</label>
              <div class="input-group col-8">
                {{ form.youtube }}<br>
                {% for error in form.youtube.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group" >
              <div class="row padded10">
                <div class="col-9">
                    <div style="width:100%; display: none;" >
                      {{ form.about_text }}
                    </div>
                    <div class="ceFieldWrapper">
                        <div contentEditable="true" class="ceField" id="ceAbout" >

                        </div>
                    </div>

                    <div class="row">
                      <div class="col-9">
                        <span class="help-block">У Вас не больше 500 символов.</span>
                      </div>

                      <div class="col-2">
                        <div align="right" id="addSmiles" class="addSmilesTree"></div>
                        {% include '__layout/smile_panel.html' with target_id='ceAbout'  %}
                      </div>

                    </div>
                </div>

                <label  align="right" for="about_me" class="col-3 control-label editAboutField" >Обо Мне</label>
              </div>
              <div class="row padded10">
                <div class="col-lg-9">
                  {{ form.homepage }}
                  {% for error in form.homepage.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </div>
                <label align="right" for="homepage" class="col-lg-3 control-label editSiteField" >Мой сайт</label>

              </div>
              <div class="row padded10">
                <div class="col-9">
                  <div class="imageFieldWrapper">
                    {{form.avatar}}
                  </div>
                </div>
                <label for="avatar" class="control-label col-3 editSocialField" align="right" >Аватар</label>
              </div>
              <div class="row birthdayRow padded10">
                <div class="col-7" align="right">
                  {{ form.date }}
                  {% for error in form.date.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </div>
                <label align="right" for="date" class="col-5 control-label birthdayField">Дата рождения</label>
              </div>
              <div class="row"  style="width:100%;">
                <div class="offset-3 col-6">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
                </div>
              </div>
              <div class="row editProfileButtons">
                <div class="col-12" align="center">
                  <div class="form-group">
                   <button type="submit" class="btn btn-primary regular" >Сохранить изменения</button>
                    <a class="btn btn-primary regular" href="/user/{{ user.username }}">Вернуться в профиль</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <input type="checkbox" id="formChecked" style="opacity:0;">
      </div>
    </fieldset>
    </form>
  </div>
</div>

<div class="tmpDiv">

</div>

{% endblock %}


